{% extends 'layout.html.twig' %}

{% block contents %}
    {% include 'error.html.twig' with {errors: errors} %}

    <div class="row">
        <div class="span6 offset3">
            <p>ユーザーポリシー</p>
            <p>楽しくつながりましょう．</p>
            <p>コンテンツの著作権について</p>
            <ul>
            <li>当サイトに含まれているコンテンツに関する著作権その他の権利は当社、当該コンテンツを創作した著作者又は著作権者に帰属しています。利用者がコンテンツを無断で複製、上映、公衆送信、頒布、譲渡、貸与、翻訳、翻案、二次利用等することはできません。</li>
            <li>当社は、会員が当サイトに公開したコンテンツ（会員の公開設定の範囲を超えるものは除きます）を、当サイトの宣伝、プロモーション、本サービスの円滑な提供、改良、メンテナンスなど本サービスの運営に必要な範囲で、全世界で非独占的に無償で利用（二次利用や当社が指定する第三者への利用許諾を含みます）することができるものとし、この場合、会員は当社及び当社の指定する者に対して著作者人格権を行使しないものとします。</li>
            <li>会員は、自らが当サイトに公開したコンテンツの内容及びそれに係る一切の権利について、当社の事前の書面による承諾なく、本規約に定める場合を除き、商用目的で第三者に譲渡、又は使用させることができません。</li>
            <li>会員は、自らが当サイトに公開したコンテンツの内容、当該コンテンツに係る一切の権利（著作権法第21条乃至28条に規定される権利及び第三者に対して再許諾する権利を含む。）について、別途当社が別途定める金員の支払いを条件に当社に譲渡することを、予め承諾するものとします。</li>
            <li>当社はいかなるときも、ユーザーに対して責任を負うことなく、本サービス上のコンテンツを削除しまたは配布を拒否し、利用者の利用停止または削除を行い、利用者名の返還を要求する権利を留保します。当社はさらに当社が必要と合理的に判断するすべての情報について、アクセス、閲覧、保存する権利を留保します。（ただし当社は、プライバシーポリシーの定めによる場合を除き、個人を特定するような情報を第三者に開示することはありません。）</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('/js/upload.js') }}"></script>
{% endblock %}
