{% extends 'layout.html.twig' %}

{% block contents %}
    {% include 'error.html.twig' with {errors: errors} %}

    <div class="row">
        <div class="span6 offset3">
            <form action="{{ urlFor('upload_post')}}" method="post" enctype="multipart/form-data" class="form-horizontal well">
                <div class="control-group">
                    <input id="image-select" type="file" name="upfile" accept="image/*" class="span3"/>
                </div>
                <div type="text-center">
                    <img src="/img/public_img/200x200.jpg" id="preview" alt="preview" width="320" />
                </div>
                <div class="controls">
                    <button type="submit" class="btn btn-primary">アップロードする</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('/js/upload.js') }}"></script>
{% endblock %}
