{% extends 'layout.html.twig' %}

{% block contents %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>Welcome GroupWorkBase Application</h1>
        <p>This is a demonstration page with GroupWorkBase.</p>
        <p><a href="{{ urlFor('doc_top') }}" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>
{% endblock %}
