{# http://symfony.com/doc/master/book/validation.html#using-the-validator-service #}
{% if errors|length > 0 %}
    <div class="alert alert-block alert-error fade in">
        <ul>
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{# http://docs.slimframework.com/#Flash-Messaging-Overview #}
{% set flash = session.get('slim.flash') %}
{% if  flash %}
    <div class="alert alert-block alert-error fade in">
        <ul>
            {% for message in flash %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
