{% extends 'layout.html.twig' %}

{% block contents %}

    <p id="document">
        {{ markdown|raw }}
    </p>

{% endblock %}

{% block javascript %}
    <script src="{{ asset('/js/markdown.js') }}"></script>
    <script>
        (function(){
            // Markdownのドキュメント
            var DocumentModel = Backbone.Model.extend({
                body: '',
                initialize: function() {
                    this.body = $('p#document').html();
                }
            });

            // Markdownで表示View
            var MarkdownView = Backbone.View.extend({
                initialize: function () {
                    this.render();
                },
                render: function() {
                    this.el = markdown.toHTML(this.model.body);
                    $('p#document').html(this.el);
                    return this;
                }
            });

            var MarkdownDocument = new DocumentModel({});
            var MarkdownDocumentView =  new MarkdownView({model: MarkdownDocument});
        })();
    </script>
{% endblock %}