{% extends 'layout.html.twig' %}

{% block contents %}
    {% include 'error.html.twig' with {errors: errors} %}

    <div class="row">
        <div class="span6 offset3">
            <form action="{{ urlFor('add') }}" method="post" class="add-fm">
                <div>
                <img src="http://192.168.56.110:18003/img/plus.png" alt="plus1" value="1" width="100" height="100">
                <input type="checkbox">
                <img src="http://192.168.56.110:18003/img/plus.png" alt="plus2" value="2" width="100" height="100">
                <input type="checkbox">
                <input type="text" name="last-selected-frame" value="" />
                <button id="add-btn" type="submit" class="btn btn-primary">コマを追加</button>
                </div>
            </form>
            <form action="{{ urlFor('story_view') }}" method="post" id="story-fm">
                <input type="text" name="selected-frames" value="" />
                <button id="story-view-btn" type="submit" class="btn btn-primary">ストーリーを見る</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('/js/select.js') }}"></script>
{% endblock %}
