{% extends 'layout.html.twig' %}

{% block contents %}
    {% include 'error.html.twig' with {errors: errors} %}

    <h3>編集</h3>
    <div class="row">
        <div class="span6 offset3">
            <form action="{{ urlFor('user_update') }}" method="post" class="form-horizontal well">
                    <div class="control-group">
                        <label class="control-label" for="name">ユーザー名</label>
                        <div class="controls">
                            <input type="text" id="user_name" name="name" class="span3" value="{{ input.name }}" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label for="email"">メールアドレス</label>
                        <div class="controls">
                            <input type="text" id="email" name="email" class="span3" value="{{ input.email }}" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="birthday">誕生日</label>
                        <div class="controls">
                            <input type="text" id="birthday" name="birthday" class="span3" value="{{ input.birthday }}" />
                            <span class="help-inline">yyyy-mm-dd形式</span>
                        </div>
                    </div>

                <div class="controls">
                    <button type="submit" class="btn btn-primary">編集</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
